{% extends 'formbase.html' %}
{% load static from staticfiles %}
{% block title %}
    {{ user.get_full_name }} به سامانه سیمرغ خوش آمدید
{% endblock %}
{% block dashboard-title %} ثبت نام کاربر{% endblock %}
{% block form_title %}
    فرم ثبت نام کاربر
{% endblock %}
{% block form_body %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <table>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}
            {{ form.as_table }}
            <tr>
                <td>
                    <button type="submit" class="btn btn-primary">ثبت کاربر</button>
                </td>
            </tr>

        </form>
    </table>
{% endblock %}