{% extends 'tablesbase.html' %}
{% load static from staticfiles %}
{% block title %}
    {{ user.get_full_name }} به سامانه سیمرغ خوش آمدید
{% endblock %}
{% block dashboard-title %}
    لیست کلاس های پایه های تحصیلی
{% endblock %}

{% block tabel_title %}جدول کلاس های پایه های تحصیلی {% endblock %}
{% block tabel_new_item_link %}{% url 'ClassroomCreate' %}{% endblock %}
{% block tabel_new_item %} ایجاد کلاس جدید برای پایه {% endblock %}
{% block tabel_header %}
    <th style="text-align: center;width:25px;">ردیف</th>
    <th style="text-align: center">پایه تحصیلی</th>
    <th style="text-align: center">کلاس</th>
    <th style="text-align: center;width: 100px;">سال تحصیلی</th>
    <th style="text-align: center;width: 120px;">لیست کلاس ها</th>
    <th style="text-align: center;width: 120px;"> دانش آموزان</th>
    <th style="text-align: center;width: 120px;"> ابزار</th>
{% endblock %}
{% block tabel_footer %}
    <th style="text-align: center;width:25px;">ردیف</th>
    <th style="text-align: center">پایه تحصیلی</th>
    <th style="text-align: center">کلاس</th>
    <th style="text-align: center;width: 100px;">سال تحصیلی</th>
    <th style="text-align: center;width: 120px;">لیست کلاس ها</th>
    <th style="text-align: center;width: 120px;"> دانش آموزان</th>
    <th style="text-align: center;width: 120px;"> ابزار</th>
{% endblock %}
{% block tabel_body %}
    {% for classroom in classroom_list %}
        <tr>
            <th style="text-align: center">{{ forloop.counter }}</th>
            <td style="text-align: center">{{ classroom.level_field }}</td>
            <td style="text-align: center">{{ classroom.branch }}</td>
            <td style="text-align: center">{{ classroom.education_year }}</td>
            <td style="text-align: center"><a href="{% url 'ClassroomCourseDetail' classroom.pk %}"><i class="fas fa-chalkboard-teacher"></i></a>
            </td>
            <td style="text-align: center"><a href="{% url 'ClassroomStudentDetail' classroom.pk %}"><i class="fas fa-user-graduate"></i></a></td>
            <td style="text-align: center"><a href="{% url 'ClassroomUpdate' classroom.pk %}"><i class="far fa-edit"></i></a></td>
        </tr>
    {% endfor %}
{% endblock %}