{% extends 'tablesbase.html' %}
{% load static from staticfiles %}
{% block title %}
    {{ user.get_full_name }} به سامانه سیمرغ خوش آمدید
{% endblock %}
{% block dashboard-title %}
    لیست درس ها
{% endblock %}

{% block tabel_title %}جدول اطلاعات درس ها{% endblock %}
{% block tabel_new_item_link %}{% url 'CourseCreate' %}{% endblock %}
{% block tabel_new_item %} ایجاد درس جدید{% endblock %}
{% block tabel_header %}
    <th style="text-align: center;width:25px;">ردیف</th>
    <th style="text-align: center">نام درس</th>
    <th style="text-align: center">پایه تحصیلی</th>
    <th style="text-align: center;width: 100px;">تعداد واحد</th>
    <th style="text-align: center;width: 120px;">ویرایش</th>
{% endblock %}
{% block tabel_footer %}
    <th style="width:25px;">ردیف</th>
    <th>نام درس</th>
    <th>پایه تحصیلی</th>
    <th>تعداد واحد</th>
    <th>ویرایش</th>
{% endblock %}
{% block tabel_body %}
    {% for course in classroom.courses.all %}
        <tr>
            <th>{{ forloop.counter }}</th>
            <td>{{ course.name }}</td>
            <td>{{ course.level_field }}</td>
            <td >{{ course.unit }}</td>
            <td style="text-align: center;">
                <a href="{% url 'CourseUpdate' course.pk %}"><i class="far fa-edit"></i></a>
                <a href="{% url 'CourseDetail' course.pk %}"><i class="fas fa-info-circle"></i></a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}