{% extends 'tablesbase.html' %}
{% load static from staticfiles %}
{% block title %}
    {{ user.get_full_name }} به سامانه سیمرغ خوش آمدید
{% endblock %}
{% block dashboard-title %}
    لیست دانش آموزهای ثبت نام شده
{% endblock %}

{% block tabel_title %}جدول دانش آموزان ثبت نام شده{% endblock %}
{% block tabel_new_item_link %}{% url 'RegisterCreate' %}{% endblock %}
{% block tabel_new_item %} ثبت نام{% endblock %}
{% block tabel_header %}
    <th style="width:10px;">ردیف</th>
    <th>پایه تحصیلی</th>
    <th>کلاس</th>
    <th>سال تحصیلی</th>
    <th>لیست درس-استاد</th>
    <th> دانش آموزان</th>
    <th>ابزار</th>
{% endblock %}
{% block tabel_footer %}
    <th style="width:10px;">ردیف</th>
    <th>پایه تحصیلی</th>
    <th>کلاس</th>
    <th>سال تحصیلی</th>
    <th>لیست درس-استاد</th>
    <th> دانش آموزان</th>
    <th>ابزار</th>
{% endblock %}
{% block tabel_body %}
    {% for register in register_list %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ register.classroom }}</td>
            <td>{{ register.student }}</td>
            <td>{{ register.classroom.education_year }}</td>
            <td><a href="{% url 'RegisterDetail' register.pk %}"><i class="fas fa-chalkboard-teacher"></i></a></td>
            <td><a href="{% url 'RegisterDetail' register.pk %}"><i class="fas fa-user-graduate"></i></a></td>
            <td><a href="{% url 'RegisterUpdate' register.pk %}"><i class="far fa-edit"></i></a></td>
        </tr>
    {% endfor %}
{% endblock %}