{% extends 'base.html' %}
{% load static from staticfiles %}
{% block title %}
    {{ user.get_full_name }} به سامانه سیمرغ خوش آمدید
{% endblock %}
{% block dashboard-title %}
    لیست دانش آموزان
{% endblock %}
{% block content %}
    <div class="container" style="margin-top: 20px;">
        <div class="col-2 filter" style="float: left;">
            <div>
                <form>
                    {% csrf_token %}
                    {{ search.as_p }}
                    <tr>
                        <td>
                            <button type="submit">جست و جو</button>
                        </td>
                    </tr>
                </form>
            </div>
        </div>
    <div class="col-10 teacher_table">
        {% load widget_tweaks %}
    <a href="{% url 'StudentCreateView' %} "> <span> <i class="fas fa-user-plus"></i> دانش آموز جدید </span></a>


        <table class='table' style="text-align: center;">
            <tr>
                <th scope="col" style="width:25px;"> مشخصات</th>
                <th scope="col" style="width:25px;">ردیف</th>
                <th scope="col">شماره دانش آموزی</th>
                <th scope="col">نام</th>
                <th scope="col">نام خانوادگی</th>
                <th scope="col"> نام کاربری</th>
                <th scope="col"> ایمیل</th>
                <th>ویرایش</th>
            </tr>
            {% for student in student_list %}
                <tr>
                    <td>
                        <a href="{% url 'StudentDetail' student.pk %}"><i class="fas fa-info-circle"></i></a>
                    </td>
                    <th scope="row">
                        {{ forloop.counter }}
                    </th>
                    <td>
                        {{ student.student_id }}
                    </td>
                    <td>
                        {{ student.user.first_name }}
                    </td>
                    <td>
                        {{ student.user.last_name }}
                    </td>
                    <td>
                        {{ student.user.username }}
                    </td>
                    <td>
                        <a href="mailto:{{ teacher.user.email }}"> {{ teacher.user.email }} </a>
                    </td>
                    <td>
                        <a href="{% url 'StudentEdit' student.pk %}"><i class="far fa-edit"></i></a>
                    </td>

                </tr>
            {% endfor %}
        </table>
    </div>
    </div>
{% endblock %}