{% extends 'formbase.html' %}
{% load list_item %}
{% load static from staticfiles %}
{% block title %}
    {{ user.get_full_name }} به سامانه سیمرغ خوش آمدید
{% endblock %}
{% block dashboard-title %}
    لیست نمرات
{% endblock %}

{% block form_title %}
    فرم ثبت نمرات
{% endblock %}
{% block form_body %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ formset.management_form }}
        <div class='table-responsive'>
            <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>ردیف</th>
                    <th>دانش آموز</th>
                    <th>نمره کلاسی</th>
                    <th>نمره پایانی</th>
                </tr>
                </thead>
                <tbody>
                {% for form in formset %}
                    <tr>
                        <td style="max-width: 20px;">{{ forloop.counter }}</td>
                        <td style="max-width: 100px;">{{ students|list_item:forloop.counter0 }}</td>
                        <td style="max-width: 100px;">{{ form.mid_grade }}</td>
                        <td style="max-width: 100px;">{{ form.final_grade }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>ردیف</th>
                    <th>دانش آموز</th>

                    <th>نمره کلاسی</th>
                    <th>نمره پایانی</th>
                </tr>
                </tfoot>
            </table>
            <button type="submit" class="btn btn-primary">تایید و ثبت اطلاعات</button>
        </div>
    </form>

{% endblock %}



