{% extends 'base.html' %}
{% load static from staticfiles %}
{% block title %}
    {{ user.get_full_name }} به سامانه سیمرغ خوش آمدید
{% endblock %}
{% block dashboard-title %}
    دانش آموز {{ student.user.first_name }} {{ student.user.last_name }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12 m-auto">
            <div class="card shadow mb-4 ">
                <div>
                    <!-- Card Header - Accordion -->
                    <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
                       role="button"
                       aria-expanded="true" aria-controls="collapseCardExample">
                        <h6 class="m-0 font-weight-bold text-primary">
                            مشخصات فردی</h6>
                    </a>
                    <!-- Card Content - Collapse -->
                    <div class="collapse show" id="collapseCardExample">
                        <div class="card-body">
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <td>نام:</td>
                                    <td>{{ student.user.first_name }}</td>
                                    <td>نام خانوادگی:</td>
                                    <td>{{ student.user.last_name }}</td>
                                    <td rowspan="4" style="width: 150px"><img alt='عکس دانش آموز' height="170px"
                                                                              src=" {{ student.photo.url }}">
                                </tr>
                                <tr>
                                    <td>تاریخ تولد:</td>
                                    <td>{{ student.birthday }}</td>
                                    <td>شماره دانش آموزی:</td>
                                    <td>{{ student.student_id }}</td>
                                </tr>
                                <tr>
                                    <td>نام پدر:</td>
                                    <td>{{ student.father_name }}</td>
                                    <td>رشته تحصیلی:</td>
                                    <td>{{ student.get_education_field_display }}</td>
                                </tr>
                                <tr>
                                    <td>پایه تحصیلی:</td>
                                    <td>{{ student.registers.first.classroom.level_field }}</td>
                                    <td>پست الکترونیک:</td>
                                    <td><a href="mailto:{{ student.user.email }}"> {{ student.user.email }} </a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {#برنامه کلاسی#}
        <div class="col-lg-12">
            <div class="card shadow mb-4 ">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">برنامه کلاسی</h6>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>روز - زنگ</th>
                            <th class="text-center">زنگ اول</th>
                            <th class="text-center">زنگ دوم</th>
                            <th class="text-center">زنگ سوم</th>
                            <th class="text-center">زنگ چهارم</th>
                        </tr>
                        {% for day,times in class_day_time.items %}
                            <tr>
                                <th>{{ day }}</th>
                                {% for time,course in times.items %}
                                    <th class="text-center">{{ course }}</th>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">لیست کلاس های ثبت نام شده</h6>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th width="50px">ردیف</th>
                            <th>نام کلاس</th>
                            <th width="100px">تعداد واحد</th>
                            <th>استاد</th>
                            <th>نمره میان ترم</th>
                            <th>نمره نهایی</th>
                        </tr>
                        {% for tcc in teacher_class_courses %}

                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ tcc.course }}</td>
                                <td>{{ tcc.course.unit }}</td>
                                <td>{{ tcc.teacher }}</td>
                                <td>{{ tcc.mid_grade }}</td>
                                <td>{{ tcc.final_grade }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}