{% extends 'tablesbase.html' %}
{% load static from staticfiles %}
{% block title %}
    {{ user.get_full_name }} به سامانه سیمرغ خوش آمدید
{% endblock %}
{% block dashboard-title %}
    لیست دانش آموزان
{% endblock %}

{% block tabel_title %}جدول اطلاعات دانش آموزان {% endblock %}
{% block tabel_new_item_link %}{% url 'StudentCreateView' %}{% endblock %}
{% block tabel_new_item %} ثبت دانش آموز جدید{% endblock %}
{% block tabel_header %}
    <th style="width:25px;">ردیف</th>
    <th>شماره دانش آموزی</th>
    <th>نام</th>
    <th>نام خانوادگی</th>
    <th> نام کاربری</th>
    <th> ایمیل</th>
    <th> ابزار</th>
{% endblock %}
{% block tabel_footer %}
    <th style="width:25px;">ردیف</th>
    <th>شماره دانش آموزی</th>
    <th>نام</th>
    <th>نام خانوادگی</th>
    <th> نام کاربری</th>
    <th> ایمیل</th>
    <th> ابزار</th>
{% endblock %}
{% block tabel_body %}
    {% for student in student_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ student.student_id }}</td>
            <td>{{ student.user.first_name }}</td>
            <td>{{ student.user.last_name }}</td>
            <td>{{ student.user.username }}</td>
            <td><a href="mailto:{{ student.user.email }}"> {{ student.user.email }} </a></td>
            <td><a href="{% url 'StudentDetail' student.pk %}"><i
                    class="fas fa-info-circle"></i></a><a
                    href="{% url 'StudentEdit' student.pk %}"><i class="far fa-edit"></i></a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
{% block filter_form %}
    <form class="form">
        {% csrf_token %}

        {{ search.non_field_errors }}
        <div class="form-group">
            {{ search.subject.errors }}
            <label for="{{ search.first_name.id_for_label }}">نام: </label>
            {{ search.first_name }}
        </div>
        <div class="form-group">
            {{ search.message.errors }}
            <label for="{{ search.last_name.id_for_label }}">نام خانوادگی: </label>
            {{ search.last_name }}
        </div>
        <div class="form-group">
            {{ search.sender.errors }}
            <label for="{{ search.user_name.id_for_label }}">نام کاربری :</label>
            {{ search.user_name }}
        </div>


        <div>
            <button type="submit" class="btn btn-light">جست و جو</button>
        </div>
    </form>
{% endblock %}