{% extends 'tablesbase.html' %}
{% load static from staticfiles %}
{% block title %}
    {{ user.get_full_name }} به سامانه سیمرغ خوش آمدید
{% endblock %}
{% block dashboard-title %}
    لیست اساتید
{% endblock %}

{% block tabel_title %}جدول اطلاعات اساتید {% endblock %}
{% block tabel_new_item_link %}{% url 'TeacherCreateView' %}{% endblock %}
{% block tabel_new_item %} ثبت استاد جدید{% endblock %}
{% block tabel_header %}
    <th style="width:25px;">ردیف</th>
    <th>نام</th>
    <th>نام خانوادگی</th>
    <th> نام کاربری</th>
    <th> ایمیل</th>
    <th> مدرک تحصیلی</th>
    <th> تخصص</th>
    <th>ابزار</th>
{% endblock %}
{% block tabel_footer %}
    <th style="width:25px;">ردیف</th>
    <th>نام</th>
    <th>نام خانوادگی</th>
    <th> نام کاربری</th>
    <th> ایمیل</th>
    <th> مدرک تحصیلی</th>
    <th> تخصص</th>
    <th>ابزار</th>
{% endblock %}
{% block tabel_body %}
    {% for teacher in teacher_list %}
        <tr>
            <th>{{ forloop.counter }}</th>
            <td>{{ teacher.user.first_name }}</td>
            <td>{{ teacher.user.last_name }}</td>
            <td>{{ teacher.user.username }}</td>
            <td><a href="mailto:{{ teacher.user.email }}"> {{ teacher.user.email }} </a></td>
            <td>{{ teacher.get_edu_degree_display }}</td>
            <td>{{ teacher.profession.first }}</td>
            <td><a href="{% url 'TeacherDetail' teacher.pk %}"><i
                    class="fas fa-info-circle"></i></a><a
                    href="{% url 'TeacherEdit' teacher.pk %}"><i class="far fa-edit"></i></a>
        </tr>
    {% endfor %}
{% endblock %}
{% block filter_form %}
    <form class="form">
        {% csrf_token %}

        {{ search.non_field_errors }}
        <div class="form-group">
            {{ search.subject.errors }}
            <label for="{{ search.first_name.id_for_label }}">نام: </label>
            {{ search.first_name }}
        </div>
        <div class="form-group">
            {{ search.message.errors }}
            <label for="{{ search.last_name.id_for_label }}">نام خانوادگی: </label>
            {{ search.last_name }}
        </div>
        <div class="form-group">
            {{ search.sender.errors }}
            <label for="{{ search.user_name.id_for_label }}">نام کاربری :</label>
            {{ search.user_name }}
        </div>


        <div>
            <button type="submit" class="btn btn-light">جست و جو</button>
        </div>
    </form>
{% endblock %}