{% extends 'base.html' %}
{% load static from staticfiles %}
{% block title %}
     {{ user.get_full_name }} به سامانه سیمرغ خوش آمدید
{% endblock %}
{% block content %}
<div class="container" style="margin-top: 20px;">
    {% load widget_tweaks %}
<div>
    <p> فرم ثبت نام آموزگار</p>
</div>
<form method="post" novalidate>
  {% csrf_token %}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}

  {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}
      {% render_field field class="form-control" %}
      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
  {% endfor %}

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}