{% extends 'tablesbase.html' %}
{% load static from staticfiles %}
{% block title %}
    {{ user.get_full_name }} به سامانه سیمرغ خوش آمدید
{% endblock %}
{% block dashboard-title %}
    لیست کلاس ها
{% endblock %}

{% block tabel_title %}جدول اطلاعات کلاس ها{% endblock %}
{% block tabel_new_item_link %}{% url 'TeacherClassCourseCreate' %}{% endblock %}
{% block tabel_new_item %} ایجاد کلاس جدید{% endblock %}
{% block tabel_header %}
    <th style="text-align: center;width:25px;">ردیف</th>
    <th style="text-align: center">نام درس</th>
    <th style="text-align: center">کلاس</th>
    <th style="text-align: center;">نام استاد</th>
    <th style="text-align: center;">نمرات</th>

    <th style="text-align: center;width: 120px;">ابزار</th>
{% endblock %}
{% block tabel_footer %}
    <th style="text-align: center;width:25px;">ردیف</th>
    <th style="text-align: center">نام درس</th>
    <th style="text-align: center">کلاس</th>
    <th style="text-align: center;">نام استاد</th>
    <th style="text-align: center;">نمرات</th>

    <th style="text-align: center;width: 120px;">ابزار</th>
{% endblock %}
{% block tabel_body %}
    {% for classroom in teacherclasscourse_list %}
        <tr>
            <th style="text-align: center" scope="row">{{ forloop.counter }}</th>
            <td style="text-align: center">{{ classroom.course }}</td>
            <td style="text-align: center">{{ classroom.classroom }}</td>
            <td style="text-align: center">{{ classroom.teacher.user.first_name }} {{ classroom.teacher.user.last_name }}</td>
            <td style="text-align: center"><a href="{% url 'StudentCourseListView' classroom.pk %}"><i class="fas fa-info-circle"></i></a></td>

            <td style="text-align: center;width: 120px;">
                <a href="{% url 'TeacherClassCourseEdit' classroom.pk %}"><i class="far fa-edit"></i></a>
                <a href="{% url 'TeacherClassCourseDetails' classroom.pk %}"><i class="fas fa-info-circle"></i></a>
                <a href="{% url 'student_presence_create' classroom.pk %}"><i class="fas fa-info-circle"></i></a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}