{% extends 'base.html' %}
{% load static from staticfiles %}
{% block title %}
     {{ user.get_full_name }} به سامانه سیمرغ خوش آمدید
{% endblock %}
{% block content %}
<div class="text-center m-auto" >
            <div class="error mx-auto" data-text="404">404</div>
            <p class="lead text-gray-800 mb-5">صفحه مورد نظر شما یافت نشد</p>
            <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
            <a href="{% url 'dashboard' %}">← بازگشت به داشبورد</a>
          </div>
{% endblock %}


