{% load edu_extra %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboard' %}  ">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fab fa-phoenix-framework"></i>
        </div>
        <div class="sidebar-brand-text mx-3">سامانه سیمرغ</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    {% if request.user|has_group:'admin' %}
        <div class="sidebar-heading">
            پنل مدیریت کاربران سایت
        </div>

        <!-- Nav Item - Pages Collapse Menu -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsers"
               aria-expanded="true" aria-controls="collapseUsers">
                <i class="fas fa-fw fa-cog"></i>
                <span>مدیریت کاربران</span>
            </a>
            <div id="collapseUsers" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">منوی مدیریت کاربران</h6>
                    <a class="collapse-item" href="{% url 'UserListView' %}"> لیست کاربران</a>
                    <a class="collapse-item" href="{% url 'StudentListView' %}"> لیست دانش آموزان</a>
                    <a class="collapse-item" href="{% url 'TeacherListView' %}">لیست اساتید</a>
                </div>
            </div>
        </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseStudent"
           aria-expanded="true" aria-controls="collapseStudent">
            <i class="fas fa-fw fa-cog"></i>
            <span>مدیریت کلاس ها</span>
        </a>
        <div id="collapseStudent" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">منوی مدیریت کلاس ها</h6>
                <a class="collapse-item" href="{% url 'CourseList' %}"> درس ها</a>
                <a class="collapse-item" href="{% url 'TeacherClassCourseList' %}"> لیست کلاس های درسی</a>
                <a class="collapse-item" href="{% url 'ClassroomList' %}"> کلاس های پایه های تحصیلی </a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTeachers"
           aria-expanded="true" aria-controls="collapseTeachers">
            <i class="fas fa-fw fa-wrench"></i>
            <span>ثبت نام </span>
        </a>
        <div id="collapseTeachers" class="collapse" aria-labelledby="headingUtilities"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header"> منوی مدیریت ثبت نام ها</h6>
                <a class="collapse-item" href="{% url 'RegisterList' %}">ثبت نام دانش آموز </a>

            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
{% endif %}
    <!-- Heading -->
{% if request.user|has_group:'student' %}
    <div class="sidebar-heading">
        پنل دانش آموزان
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>کلاس ها</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">مدیریت کلاس ها:</h6>
                <a class="collapse-item" href="login.html">لیست کلاس های من</a>
                <a class="collapse-item" href="login.html">لیست تکالیف جدید</a>
                <a class="collapse-item" href="login.html">دریافت برنامه کلاسی</a>
                <a class="collapse-item" href="login.html">دریافت کارنامه</a>

            </div>
        </div>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
{% endif %}
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>